{% extends "base.html" %}
{% block content %}
<h1>About Me</h1>
<p>I am Vasileios Chantzaras, a passionate music producer known by my artist name, Azirr. With a deep love for creating innovative sounds and beats, I strive to push the boundaries of music production. My journey in the music industry is fueled by a desire to craft unique auditory experiences that resonate with listeners around the world. Join me as I continue to explore and share the limitless possibilities of music.</p>
{% endblock %}
